<section class="recipe">
    <div class="recipe__imgContainer">
        <img [src]="recipe.strMealThumb" [alt]="recipe.strMeal" class="recipe__img">
    </div>
    <article class="recipe__info">
        <h1 class="recipe__title">{{ recipe.strMeal }}t</h1>
        <ul class="recipe__links">
            <li class="recipe__item">
                <a class="recipe__link">
                    <img src="/assets/icons/category.png" alt="category" class="recipe__link__icon">
                    <span>Category:</span>
                    {{ recipe.strCategory}}
                </a>
            </li>
            <li class="recipe__item recipe__item--border">
                <a class="recipe__link">
                    <img src="/assets/icons/country.png" alt="category" class="recipe__link__icon">
                    <span>Cuisine:</span>
                    {{ recipe.strArea }}
                </a>
            </li>
        </ul>
    </article>


</section>

<section class="recipe__main">
    <ul class="recipe__main__opts">
        <li class="recipe__main__item"
            [ngClass]="{'recipe__main__item--active': showI}"
             (click)="show( true )">Ingredients</li>
        <li class="recipe__main__item"
            [ngClass]="{'recipe__main__item--active': !showI}"
            (click)="show( false)">Instructions</li>

    </ul>

    <article class="recipe__ingredients"
        *ngIf="showI">
        <ul class="recipe__ingredients__list">
            <li 
                class="recipe__ingredient"
                *ngFor="let ingredient of ingredients; let i = index"
             >
                {{ measures[i] }}{{ ingredient }}
            </li>
           

        </ul>
    </article>

    <article class="recipe__elaboration"
        *ngIf="!showI">
        <p class="recipe__elaboration__step">
            {{ recipe.strInstructions }}
        </p>
        <div class="wrapper">
            <iframe width="560" height="315" [src]="video | safe" title="YouTube video player"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
    </article>
</section>

<!-- <section class="recipe__steps">
    <article class="recipe__ingredients">
        <h3 class="recipe__steps__title">Ingredients</h3>
        <ul class="recipe__ingredients__list">
            <li 
                class="recipe__ingredient"
                *ngFor="let ingredient of ingredients; let i = index"
             >
                {{ measures[i] }}{{ ingredient }}
            </li>
           

        </ul>
    </article>

    <article class="recipe__elaboration">
        <h3 class="recipe__steps__title">How to Make It</h3>
        <p class="recipe__elaboration__step">
            {{ recipe.strInstructions }}
        </p>
        <div class="wrapper">
            <iframe width="560" height="315" [src]="video | safe" title="YouTube video player"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
    </article>

    <article class="recipe__tags"
             *ngIf="tags.length > 0">
        <h3 class="recipe__steps__title">Tags</h3>
        <ul class="recipe__tags__list">
            <li class="recipe__tags__tag"
                *ngFor="let tag of tags">{{ tag }}</li>
          

        </ul>
    </article>

 
</section> -->