
@include cssvars((
    // colors
    primary-color: #7c8396,
    secondary-color: #c2c5cd,
    tertiary-color: #0f0f2c,
    highlight-color:#2dc76d,
    bg-color:#ffffff,

    headline-color: #0f0f2c,
    paragraph-color:#c2c5cd,
    buttontext-color: #ffffff,
    button-color:#2dc76d,
    
    // typopraphy
    font-family: #{'Roboto', sans-serif},
    font-titles: #{'Roboto Slab', serif},
    fs-xl: 3rem,
    fs-600: 1.95rem,
    fs-500: 1.56rem,
    fs-400: 1.25rem,
    
    font-weight-xsm: 300,
    font-weight-sm: 400,
    font-weight-md: 500,
    font-weight-lg: 700,
    font-weight-xl: 800,
    
    
    ));
    
    // #eaf9ef soft card color

@media (min-width: 43em) {
    @include cssvars((
    // typography
    
    fs-xl: 4rem,
    fs-600: 2.44rem,
    fs-500: 1.95rem,
    fs-400: 1.56rem,


    ));
}

$fz-sm: 1rem; //p
$fz-bs: 1.25rem; // h5
$fz-xmd: 1.56rem; // h4
$fz-md: 1.95em; //h3
$fz-bg: 2.44rem; //h2
$fz-xl: 3rem; //h1


