<header 
    class="header"
    [ngClass]="{'header--active': activeM}">
    <nav class="navbar">

        <a  
            class="brand"
            [ngClass]="{'brand--active': activeM}">
            Tasty Recipes
        </a>

        <button 
             class="icon-menu"
             (click)="activeMenu()">
            <span
                class="icon-menu__bar"
                [ngClass]="{'icon-menu__bar--active': activeM}">
            </span>
        </button>

        <ul 
            class="menu"
            [ngClass]="{'menu--active': activeM}">
            <li class="menu__item"><a routerLink='/home' routerLinkActive="menu__link--active" class="menu__link">Home</a></li>
            <li class="menu__item"><a routerLink="/discover" routerLinkActive="menu__link--active" class="menu__link">Discover</a></li>
            <li class="menu__item"><a routerLink="/categories" routerLinkActive="menu__link--active" class="menu__link">Categories</a></li>
            <li class="menu__item"><a routerLink="/recipes" routerLinkActive="menu__link--active" class="menu__link">Recipes</a></li>

        </ul>

    </nav>
</header>