<header class="header">
    <nav class="navbar">

        <div class="brand-container">
            <a routerLink="/home" class="brand">
                Tasty Recipes
            </a>
        </div>

        <button 
             class="icon-menu">
            <span
                ngClass]="{'icon-menu__bar--active': activeMenu}"
                class="icon-menu__bar">
            </span>
        </button>

        

        <ul class="menu">
            <li class="menu__item"><a class="menu__link">Home</a></li>
            <li class="menu__item"><a class="menu__link">Discover</a></li>
            <li class="menu__item"><a class="menu__link">Categories</a></li>
        </ul>

        <div class="search-input">
            <button class="search-input__btn">
                <img src="/assets/icons/search.svg" class="icon-search" alt="search">
            </button>
            <input
                class="search-input__input"
                type="search"
                name="search-input"
                placeholder="Search..."
                aria-label="Search"
                #term>  
              
        </div>
        
    </nav>
</header>