<header 
    class="header"
    [ngClass]="{'header--active': activeM}">
    <nav class="navbar">

        <a class="brand"
           routerLink="/home">
            Tasty Recipes
        </a>

        <button 
             class="icon-menu"
             (click)="activeMenu()"
             #iconM>
             
            <span
                class="icon-menu__bar"
                [ngClass]="{'icon-menu__bar--active': activeM}">
            </span>
        </button>

        <ul 
            class="menu"
            [ngClass]="{'menu--active': activeM}">
           <li
              *ngFor="let opt of menu"
              class="menu__item">
              <a [routerLink]='opt'
                 routerLinkActive="menu__link--active"
                 (click)="activeMenu()"
                class="menu__link">{{ opt | titlecase }}</a>
            </li>
          
        </ul>

    </nav>
</header>