
<div class="wrapper">
    <section class="banner">
        <div class="banner__img">
        </div>
        <section class="banner__info">
            <h1 class="banner__title">Simple and Tasty Juice Recipes</h1>
            <p class="banner__desc">
                Want to learn cook but confused how to start?
            </p>
            <p class="banner__desc">
                No need worry again, with <span>Tasty Recipes</span> you can find different recipes simple and eassy to cook.
            </p>
           
        </section>
    </section>
</div>
