@import 'responsive/mixins';


.wrapper {
    display: flex;
    align-items: center;
    @include respond-above(md) {
        
        height: 100vh;
      
    }

}

.banner {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin: 0 auto;

    &__img {
        flex: 1 0 315px;
        min-height: 400px;
        background-image: url('/assets/images/chef.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__info {
        flex: 1 0 320px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem 1rem;

       
    }

    
    &__title {
        font-family: var(--pf-font-titles);
        // font-size: 4rem;
        font-size: 6rem;
        font-weight: var(--pf-font-weight-xl);
        color: var(--pf-highlight-color);
    }

    &__desc {
        font-size: var(--pf-fs-600);
        font-weight: var(--pf-font-weight-md);
        color: var(--pf-tertiary-color);
        margin: 0;

        span {
            text-decoration: underline;
            text-decoration-color: var(--pf-highlight-color);
            text-decoration-style: wavy;
            text-decoration-thickness: 1.5px;
        }
    }
}