<div class="carousel">
    <button class="carousel__btn"
        (click)="prevPage()"
        [ngClass]="{'carousel__btn--disabled': page === 0}">
        <span class="carousel__arrow carousel__prev"
              [ngClass]="{'carousel__arrow--disabled': page === 0}">
        </span>

        <!--  -->
        <!--  -->
    </button>
    <button class="carousel__btn"
            [ngClass]="{'carousel__btn--disabled': disabledNext}"
            [disabled]="disabledNext"
            (click)="nextPage()">
        <span class="carousel__arrow carousel__next"
              [ngClass]="{'carousel__arrow--disabled': disabledNext}"></span>

    </button>



</div>