
<app-banner></app-banner>

<div class="wrapper">
    <section class="section-area">
        <h2 class="section__title">Recipes by Country</h2>
        <p class="section__subtitle">Choose a country and discover different recipes</p>
    
        <ul class="section__areas__list"
           >
            <li class="section__areas__item"
            *ngFor="let area of areas | slice:0:12;">
                <a href="#" class="section__areas__link">
                    <img src="/assets/areas/{{ area.strArea }}.png" alt="American"  class="section__areas__img">
                    {{ area.strArea }}
                </a>
            </li>
        </ul>
        <a href="#" class="section__btn">
            View More
        </a>
    </section>
</div>

<section class="section-recipe">
    <h2 class="section__title">Our Recipes</h2>
    <p class="section__subtitle">Let's try new tastes and cook with us</p>

    <app-card-recipe [recipes]="recipes" class="section__container"></app-card-recipe>

   
    <a href="#" class="section__btn">
        View More
    </a>
</section>
