<div class="recipes-container">
    <article class="recipe"
        *ngFor="let recipe of recipes">
        <img [src]="recipe.strMealThumb" [alt]="recipe.strMeal" class="recipe__img">
        <section class="recipe__info">
            <a href="#" class="recipe__category">
                <span class="recipe__icon"></span>
                {{ recipe.strCategory }}
            </a> 
            <h3 class="recipe__name">{{ recipe.strMeal }}</h3>
        </section>
    </article>
    
   
</div>


<!-- <article class="recipe">
    <img src="https://www.themealdb.com/images/media/meals/adxcbq1619787919.jpg" alt="meal" class="recipe__img">
    <section class="recipe__info">
        <h3 class="recipe__name">Apam balik</h3>
        
        <ul class="recipe__tags">
            <li class="recipe__tag">Tart</li>
            <li class="recipe__tag">Baking</li>
            <li class="recipe__tag">Fruit</li>

        </ul> 
        <p class="recipe__desc">
            Preheat the oven to 200C\/180C Fan\/Gas 6.\r\nPut the biscuits in a large re-sealable freezer bag and
            bash with a rolling pin into fine crumbs...
        </p>
        <a href="https://www.youtube.com/watch?v=6R8ffRRJcrg" class="recipe__video">
            <span class="recipe__icon"></span>
            Watch Tutorial
        </a> 
    </section>
</article> -->