<div class="recipes-container">
    <article class="recipe"
        *ngFor="let recipe of recipes"
        (click)="showRecipe( recipe.idMeal)">
        <img [src]="recipe.strMealThumb" [alt]="recipe.strMeal" class="recipe__img">
        <section class="recipe__info">
            <a href="#" class="recipe__category">
                <span class="recipe__icon"></span>
                {{ recipe.strCategory }}
            </a> 
            <h3 class="recipe__name">{{ recipe.strMeal }}</h3>
        </section>
    </article>
    
   
</div>

