<div class="recipes-container">
    <article class="recipe"
        *ngFor="let recipe of recipes"
        (click)="showRecipe( recipe.idMeal)">
       <img
          [src]="recipe.strMealThumb"
          [alt]="recipe.strMeal"
          loading="lazy"
          class="recipe__img">
        <section class="recipe__info">
            <a href="#" class="recipe__category">
                <span class="recipe__icon"></span>
                {{ recipe.strCategory }}
            </a> 
            <h3 class="recipe__name">{{ recipe.strMeal | ellipsis: true }}</h3>
        </section>
    </article>
    
   
</div>

